html, body {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
    border: 3px solid black;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .canvas-container {
    align-self: center;
  }
  